* {
  margin: 0px;
  align-content: center;
}

.hero-container{
  background: url('./pexels-felix-mittermeier-956981.jpg') center
  center/cover no-repeat;
  position: relative;
  padding: 10%;
  min-height: 10em;
  vertical-align: middle;
  height: 100vh;
  width: 100%;
  border: 5px white;
  border-style: solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  z-index: -1;
}

.hero-container > h1 {
  position: relative;
  justify-content: center;
  color: #fff;
  font-size: 100px;
  /*border: 10px white solid;*/
  padding: 10px;

}

.hero-container > p {
  margin: 8px;
  text-align: center;
  border: 5px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
  text-align: center;
}

.hero-btns:hover {
  background-color: #f4f4f4;
  margin: 16px;
}

/*.hero-btns .btn {
  margin: 6px;
}*/

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: 0px;
  }


 .hero-container > p {
  font-size: 30px;
 }

 .btn-mobile {
  display: block;
  text-decoration: none;
 }

 .btn {
  width: 50%;
 }
}
